$color-app: rgb(36, 36, 38);
$color-app-dark: rgb(0, 0, 0);
$color-app-bright: rgb(216, 216, 216);
$color-attention: rgb(255, 253, 56);

$text-color: rgb(204, 204, 204);
$text-color-inverse: rgb(0, 0, 0);
