$color-app: rgb(36, 36, 38);
$color-app-dark: rgb(0, 0, 0);
$color-app-bright: rgb(216, 216, 216);
$color-app-medium: rgb(51, 51, 51);
$color-app-medium-dark: rgb(23, 23, 24);
$color-attention: rgb(255, 253, 56);

$text-color: rgb(204, 204, 204);
$text-color-inverse: rgb(0, 0, 0);
$text-color-bright: rgb(255, 255, 255);

$border-color: rgb(204, 204, 204);

$font-family-sans-serif: 'MarkOT', Arial, sans-serif;
$font-family-serif: 'TisaPro', Georgia, serif;

$weight-sans-serif-regular: 400;
$weight-sans-serif-medium: 500;
$weight-sans-serif-bold: 700;

$weight-serif-regular: 400;
$weight-serif-regular: 500;
$weight-serif-bold: 700;
