.article {
  &__title {
    font-family: $font-family-serif;
    font-size: 1.4rem;
    font-weight: $weight-serif-bold;
    letter-spacing: .05rem;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: .2rem;
    text-align: center;

    @include small {
      font-size: 1.6rem;
    }

    @include medium {
      font-size: 1.9rem;
    }
  }

  &__lead,
  &__corpus {
    font-family: $font-family-serif;
    font-size: 1.1rem;
    font-weight: $weight-serif-regular;
    line-height: 1.4;

    @include small {
      font-size: 1.25rem;
    }
  }

  &__lead {
    margin-bottom: 0;
    margin-top: .5rem;
  }

  &__corpus {
    display: none;

    &--open {
      display: block;
    }

    a {
      color: currentColor;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $color-attention;
      }
    }

    strong,
    b {
      font-weight: $weight-serif-bold;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-attention;
      font-family: $font-family-sans-serif;
      font-size: 1.25rem;
      font-weight: $weight-sans-serif-bold;
      letter-spacing: .01rem;
      margin-bottom: .2rem;
      margin-top: 2rem;
      text-transform: uppercase;

      & + p {
        margin-top: 0;
      }
    }
  }

  &__authors-container {
    display: block;
    font-family: $font-family-sans-serif;
    font-size: .75rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .05rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    text-align: center;
  }
}
