.article {
  &__title {
    font-family: $font-family-serif;
    font-size: 1.9rem;
    font-weight: $weight-serif-bold;
    margin-bottom: 0;
    margin-top: .2rem;
    text-align: center;
  }

  &__lead {
    font-family: $font-family-serif;
    font-size: 1.25rem;
    font-weight: $weight-serif-regular;
    margin-bottom: 0;
    margin-top: .5rem;
  }

  &__corpus {
    display: none;
    font-family: $font-family-serif;
    font-size: 1.25rem;
    font-weight: $weight-serif-regular;

    &--open {
      display: block;
    }

    a {
      color: currentColor;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $color-attention;
      }
    }

    strong,
    b {
      font-weight: $weight-serif-bold;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-attention;
      font-family: $font-family-sans-serif;
      font-size: 1.25rem;
      font-weight: $weight-sans-serif-bold;
      margin-bottom: .2rem;
      margin-top: 2rem;
      text-transform: uppercase;

      & + p {
        margin-top: 0;
      }
    }
  }
}
