.background {
  &__title {
    background-color: $color-app-dark;
    font-family: $font-family-serif;
    font-size: 1.9rem;
    font-weight: $weight-serif-bold;
    letter-spacing: .05rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: .5rem;
    text-align: center;
  }

  &__lead {
    font-family: $font-family-serif;
    font-size: 1.2rem;
    font-weight: $weight-serif-regular;
    margin-bottom: 0;
  }
}
