.chart {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 100%;

  &--remittances {
    margin-bottom: 3.5rem;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-right: .3rem;
    width: 10%;

    .c3-chart-arc path {
      stroke: $color-app;
    }

    .country-legend {
      font-family: $font-family-sans-serif;
      font-size: .65rem;
      font-weight: $weight-sans-serif-bold;
      letter-spacing: .02rem;
      text-align: center;
      text-transform: uppercase;
      word-wrap: break-word;
    }
  }

  .c3-area {
    opacity: .95;
  }

  .c3-legend-item {
    font-family: $font-family-sans-serif;
    font-size: .65rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .02rem;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
  }
}
