.chart {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 100%;

  &--remittances {
    margin-bottom: 3.5rem;
    margin-top: 0;
    padding-bottom: 1rem;
    padding-right: .3rem;
    width: 10%;

    .c3-chart-arc path {
      stroke: transparent;
    }

    .country-legend {
      font-family: $font-family-sans-serif;
      font-size: .65rem;
      font-weight: $weight-sans-serif-bold;
      letter-spacing: .02rem;
      text-align: center;
      text-transform: uppercase;
      word-wrap: break-word;
    }
  }

  &--hdi {
    height: 15rem;

    @include small {
      height: 20rem;
    }

    .c3-chart-lines {
      // Intensity
      > .c3-chart-line:first-child {
        .c3-lines {
          display: none;
        }

        .c3-circles {
          display: none;
        }

        .c3-areas {
          opacity: 1 !important;
        }
      }

      // EU Money
      > .c3-chart-line:last-child {
        .c3-lines {
          display: none;
        }

        .c3-circles {
          display: none;
        }

        .c3-areas > path {
          opacity: .7;
        }
      }
    }

    .c3-axis > .tick {
      font-size: .4rem;
      white-space: nowrap;

      @include small {
        font-size: .5rem;
      }

      @include medium {
        font-size: .6rem;
      }
    }

    .c3-axis > .tick:nth-child(odd) {
      display: none;

      @include small {
        display: block;
      }
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  &__label-color {
    display: inline-block;
    height: 1rem;
    margin-right: .5rem;
    vertical-align: middle;
    width: 1rem;
  }

  .c3-legend-item,
  &__label {
    font-family: $font-family-sans-serif;
    font-size: .55rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .02rem;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;

    @include small {
      font-size: .65rem;
    }
  }

  .c3-tooltip {
    box-shadow: none;
    font-family: $font-family-sans-serif;
    font-size: .65rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .02rem;

    th,
    td {
      padding: .4rem .8rem;
    }

    th {
      background-color: $color-app-medium-dark;
      text-transform: uppercase;
    }

    td {
      background-color: $color-app;
      border-left: none;
      white-space: nowrap;
    }

    tr {
      border: none;
    }

    tr + tr {
      border-top: 1px solid $color-app-medium-dark;
    }
  }
}
