.countries {
  &__block {
    &-title {
      @include typo('tag');
      background-color: $color-app-dark;
      margin-bottom: 2rem;
      margin-top: 2rem;
      padding: .5rem;
      text-align: center;
    }
  }

  &__sub-title {
    @include typo('headline-small-bold');
  }
}
