.countries {
  &__block {
    &-title {
      background-color: $color-app-medium-dark;
      font-family: $font-family-sans-serif;
      font-size: 1rem;
      font-weight: $weight-sans-serif-medium;
      letter-spacing: .2rem;
      margin-bottom: 2rem;
      margin-top: 2.5rem;
      padding: .3rem .5rem;
      text-align: center;
      text-transform: uppercase;

      @include small {
        font-size: 1.4rem;
      }

      &--no-spacing {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}
