.facts {
  border: 4px solid $border-color;
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 0 1 auto;
    width: 50%;
  }

  > * + * {
    border-top: 1px solid $border-color;
  }

  &__term,
  &__value {
    font-family: $font-family-serif;
    font-size: 1rem;
    font-weight: $weight-serif-regular;
    padding: .5rem 1rem;

    @include small {
      font-size: 1.2rem;
    }
  }

  &__value {
    border-left: 1px solid $border-color;
    margin-left: 0;
    word-wrap: break-word;
  }
}
