.features {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    &-title {
      @include typo('headline-small-bold');
      margin-bottom: .5rem;
      margin-top: .2rem;
    }

    &-title-dossier {
      @include typo('tag-small');
      display: block;
      margin-bottom: -.5rem;
    }

    &-image {
      filter: grayscale(100%);
      margin: 0;
    }

    &-caption {
      @include typo('tag-small');
      margin-top: .5rem;
    }
  }

  &__item + &__item {
    border-top: 2px solid $border-color;
    margin-top: 1.5rem;
  }
}
