.footer {
  background-color: $color-app-dark;
  color: $text-color;
  margin-top: 10rem;

  &__item {
    color: currentColor;
    text-decoration: none;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    @include typo('tag-small');
    padding: .8rem;
    text-align: center;
  }

  &__list-item + &__list-item {
    border-top: 1px solid $border-color;
  }

  &__taz-logo.icon {
    height: 3.5rem;
    margin-bottom: -1rem;
    margin-top: -1rem;
    width: 15rem;
  }
}
