.footer {
  background-color: $color-app-dark;
  color: $text-color;
  margin-top: 6rem;

  @include small {
    margin-top: 10rem;
  }

  &__item {
    color: currentColor;
    font-family: $font-family-sans-serif;
    font-size: .8rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .15rem;
    text-decoration: none;
    text-transform: uppercase;

    @include small {
      font-size: 1rem;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: underline;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    padding: .5rem;
    text-align: center;

    @include small {
      padding: .8rem;
    }
  }

  &__list-item + &__list-item {
    border-top: 1px solid $border-color;
  }

  &__taz-logo.icon {
    display: table;
    height: 4.5rem;
    margin-bottom: -1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5rem;
    width: 15rem;

    @include small {
      display: inline-block;
      margin-left: -1rem;
    }
  }
}
