.header {
  align-items: center;
  background-color: $color-app-dark;
  display: flex;
  justify-content: center;
  padding: .5rem 1.5rem;
  position: relative;

  > * {
    display: flex;
  }

  &__title {
    align-self: center;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .2rem;
    line-height: 1;
    margin: .5rem auto;
    text-transform: uppercase;

    @include small {
      font-size: 1.15rem;
    }
  }

  &__languages {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    position: absolute;
    right: 1.5rem;
    top: .75rem;
  }

  &__map-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-family: $font-family-sans-serif;
    font-size: .8rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .05rem;
    line-height: 1;
    padding: 0;
    text-transform: uppercase;

    &--visible {
      display: inline-block;
    }

    &-icon.icon {
      height: 2rem;
      width: 2rem;
    }

    &-title {
      bottom: .25rem;
      position: relative;
      vertical-align: bottom;
    }
  }
}
