.header {
  align-items: center;
  background-color: $color-app-dark;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;

  > * {
    display: flex;
  }

  &__title {
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 0 auto;
    text-transform: uppercase;
  }

  &__languages {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    position: absolute;
    right: 1.5rem;
    top: .75rem;
  }
}
