.header {
  align-items: center;
  background-color: $color-app-dark;
  color: $text-color;
  display: flex;
  justify-content: center;
  padding: .5rem 1.5rem;
  position: relative;

  > * {
    display: flex;
  }

  &__title {
    align-self: center;
    color: currentColor;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .2rem;
    line-height: 1;
    margin: .5rem auto;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-attention;
      text-decoration: none;
    }

    @include small {
      font-size: 1.15rem;
    }
  }

  &__languages {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    position: absolute;
    right: 1.5rem;
    top: .75rem;
  }

  &__map-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
    font-family: $font-family-sans-serif;
    font-size: .6rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .03rem;
    line-height: 1.2;
    padding: 0;
    text-transform: uppercase;

    &--visible {
      display: inline-block;
    }

    &-icon.icon {
      color: $color-attention;
      height: 2rem;
      margin-right: .3rem;
      width: 2rem;
    }

    &-title {
      bottom: .15rem;
      display: none;
      position: relative;
      text-align: left;
      vertical-align: bottom;

      @include small {
        display: inline-block;
      }
    }

    &:hover,
    &:focus {
      color: $color-attention;
    }
  }
}
