.intro {
  background-color: $color-app-dark;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity .5s ease;
  width: 100%;
  z-index: 1001;

  &--hide {
    opacity: 0;
  }

  &__close {
    border-bottom: 2px solid transparent;
    bottom: 1.5rem;
    cursor: pointer;
    font-size: .8rem;
    left: 50%;
    padding-bottom: .3rem;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1002;

    &:hover,
    &:focus {
      border-color: $color-attention;
    }
  }

  &__highlight {
    color: $color-attention;
  }

  &__slide {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &--is-hidden {
      display: none;
    }

    &-text {
      @include typo('headline-bold');
      display: block;
      left: 50%;
      max-width: 40rem;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}
