.layer-control-toggle {
  background-color: rgba(red($color-attention),
                         green($color-attention),
                         blue($color-attention),
                         .8);
  border: none;
  border-radius: 0 0 .4rem .4rem;
  color: $text-color-inverse;
  cursor: pointer;
  left: 50%;
  padding: 0 .8rem .3rem .8rem;
  position: relative;
  text-align: center;
  transform: translateX(-50%);

  &__icon {
    height: .8rem;
    width: 1rem;
  }
}
