.layer-control {
  background-color: $color-attention;
  list-style: none;
  margin: 0;
  padding-left: 0;

  @include small {
    border-radius: .5rem;
  }

  &__item {
    cursor: pointer;

    &-title {
      color: $text-color-inverse;
      cursor: pointer;
      display: block;
      font-family: $font-family-sans-serif;
      font-size: .7rem;
      font-weight: $weight-sans-serif-medium;
      letter-spacing: .05rem;
      padding: .3rem 1.5rem;
      text-align: center;
      text-transform: uppercase;

      > input {
        display: none;
      }
    }
  }

  > *:first-child > * {
    @include small {
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }
  }

  > *:last-child > * {
    @include small {
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }

  &__item + &__item {
    border-top: 1px solid $color-app-medium-dark;
  }

  &__scale {
    font-family: $font-family-sans-serif;
    font-size: .7rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .05rem;
    padding: .5rem;
    text-align: center;
  }

  &__scale-label {
    &--min {
      margin-right: 1rem;
    }

    &--max {
      margin-left: 1rem;
    }
  }

  &__scale-item--singlePayments {
    background-color: rgb(255, 253, 56);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  &__scale-item--migrationIntensity {
    background-color: rgb(255, 253, 56);
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
    width: 2rem;

    & + & {
      margin-left: .3rem;
    }
  }
}
