.layer-control {
  list-style: none;
  margin: 0;
  padding-left: 0;

  &__item {
    background-color: rgba(red($color-attention),
                           green($color-attention),
                           blue($color-attention),
                           .8);
    cursor: pointer;
    display: none;
    user-select: none;

    &--active,
    &--open {
      display: block;
    }

    &-title {
      color: $text-color-inverse;
      cursor: pointer;
      display: block;
      font-family: $font-family-sans-serif;
      font-size: .9rem;
      font-weight: $weight-sans-serif-bold;
      letter-spacing: .05rem;
      padding: .4rem 1rem;
      text-align: center;
      text-transform: uppercase;

      > input {
        display: none;
      }
    }

    &-index {
      border: 2px solid currentColor;
      border-radius: 50%;
      display: inline-block;
      font-size: .75em;
      height: 1.2rem;
      line-height: 1;
      margin-right: .2rem;
      padding: .2rem .1rem .1rem .1rem;
      vertical-align: middle;
      width: 1.2rem;
    }
  }

  > *:first-child > * {
    @include small {
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }
  }

  > *:last-child > * {
    @include small {
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
    }
  }

  &__item + &__item {
    border-top: 2px solid $color-app-medium-dark;
  }

  &__scale {
    font-family: $font-family-sans-serif;
    font-size: .7rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .05rem;
    padding: .5rem;
    text-align: center;
  }

  &__scale-label {
    &--min {
      margin-right: 1rem;
    }

    &--max {
      margin-left: 1rem;
    }
  }

  &__scale-item--singlePayments {
    background-color: rgb(255, 253, 56);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  &__scale-item--migrationIntensity {
    background-color: rgb(255, 253, 56);
    display: inline-block;
    height: 2rem;
    vertical-align: middle;
    width: 2rem;

    & + & {
      margin-left: .3rem;
    }
  }
}
