.leaflet {
  &-control-attribution {
    background-color: $color-app-dark;
    color: $text-color;

    a {
      color: currentColor;
    }
  }

  &-map-pane {
    path {
      transition: all .3s ease;
    }
  }

  &-valetta-label {
    &#{&} {
      background: transparent;
      border: none;
      box-shadow: none;
      font-family: 'TisaPro';
      font-size: 1rem;
      line-height: 1.2;
      text-align: center;
    }

    &__bold {
      display: block;
      font-size: 1.3rem;
    }
  }

  &-country-overlay {
    &#{&} {
      //fill: red;
    }
  }

  &-control-attribution {
    &#{&} {
      background: $color-app !important;
      color: $text-color;

      a {
        color: currentColor;
      }
    }
  }
}
