.map {
  position: relative;

  @include small {
    height: 82vh;
  }

  &__container.leaflet-container {
    background-color: lighten($color-app, 5%);
    min-height: 82vh;
    width: 100%;
  }

  &__slider {
    bottom: 1.5rem;
    display: none;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 40%;
    z-index: 1000;

    @include small {
      display: block;
    }
  }

  &__layer-control {
    z-index: 1000;

    @include small {
      bottom: 1.5rem;
      display: block;
      position: absolute;
      right: .5rem;
    }
  }
}
