.map {
  overflow: hidden;
  position: relative;
  transition: height 300ms ease;

  &--hidden {
    height: 0;
  }

  &__container.leaflet-container {
    background-color: lighten($color-app, 5%);
    min-height: 70vh;
    width: 100%;

    @include small {
      min-height: 82vh;
    }
  }

  &__slider {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    left: 0;
    padding-top: 1.5rem;
    position: absolute;
    width: 100%;
    z-index: 800;
  }

  &__layer-control {
    display: block;
    position: absolute;
    left: 0;
    line-height: 1;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &__attribution {
    bottom: 16rem !important;
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: 100% 0;
  }
}
