.map {
  position: relative;

  @include small {
    height: 82vh;
  }

  &__container.leaflet-container {
    background-color: lighten($color-app, 5%);
    min-height: 82vh;
    width: 100%;
  }

  &__slider {
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    display: none;
    left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    position: absolute;
    width: 100%;
    z-index: 800;

    @include small {
      display: block;
    }
  }

  &__layer-control {
    display: block;
    position: absolute;
    left: 0;
    line-height: 1;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  &__attribution {
    bottom: 16rem !important;
    transform: rotate(-90deg) translateY(-100%);
    transform-origin: 100% 0;
  }
}
