.navigation {
  background-color: $color-app-medium;
  border-top: 1px solid $color-app-medium;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 900;

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    @include small {
      flex-direction: row;
    }

    > * {
      display: flex;
    }
  }

  &__list-item + &__list-item {
    @include small {
      margin-left: 1rem;
    }
  }

  &__item {
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .1rem;
    line-height: 1;
    padding: .8rem .5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;

    @include small {
      font-size: 1.25rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @include medium {
      padding-left: 7rem;
      padding-right: 7rem;
    }

    &--active {
      background-color: $color-attention;
      color: $text-color-inverse;

      @include small {
        box-shadow: 0 -7px 0 0 $color-attention, 0 7px 0 0 $color-attention;
      }
    }
  }
}
