.navigation {
  background-color: $color-app-medium;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 500;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    > * {
      display: flex;
    }
  }

  &__list-item + &__list-item {
    margin-left: 1rem;
  }

  &__item {
    color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: 1.25rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .1rem;
    line-height: 1;
    padding: .8rem 7rem;
    text-transform: uppercase;
    text-decoration: none;

    &--active {
      background-color: $color-attention;
      box-shadow: 0 -7px 0 0 $color-attention, 0 7px 0 0 $color-attention;
      color: $text-color-inverse;
    }
  }
}
