.navigation {
  background-color: $color-app-dark;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 500;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    > * {
      display: flex;
    }
  }

  &__list-item + &__list-item {
    margin-left: 1rem;
  }

  &__item {
    color: $text-color;
    padding: 1rem 1.5rem;
    text-decoration: none;

    &--active {
      background-color: $color-attention;
      box-shadow: 0 -5px 0 0 $color-attention, 0 5px 0 0 $color-attention;
      color: $text-color-inverse;
    }
  }
}
