.slider {
  display: block;
  vertical-align: middle;
  width: 100%;

  &-track {
    background-color: $text-color;
    height: .5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-handle {
    background-color: $color-app-medium;
    border-radius: 50%;
    height: 2rem;
    margin-left: -1rem;
    position: absolute;
    top: -.8rem;
    width: 2rem;
  }

  &-tick-label-container {
    font-family: $font-family-sans-serif;
    font-size: .8rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .02rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    text-shadow: 0 0 $color-app-dark;
    white-space: nowrap;
  }

  &-tick-label {
    cursor: pointer;
    display: inline-block;
    text-align: center;
  }

  .hide {
    display: none;
  }
}
