.slider {
  width: 100%;

  &-track {
    background-color: $text-color;
    height: .5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-handle {
    background-color: $color-app-medium;
    border-radius: 50%;
    height: 2rem;
    position: absolute;
    top: -.8rem;
    width: 2rem;
  }

  &-tick-label-container {
    @include typo('tag-small');
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    text-shadow: 0 0 $color-app-dark;

    > * {
      display: flex;
    }
  }

  .hide {
    display: none;
  }
}
