.slider {
  display: block;
  margin-bottom: .8rem !important;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  user-select: none;
  vertical-align: middle;
  width: 70%;

  &-track {
    background-color: $text-color;
    height: .4rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-handle {
    background-color: $color-attention;
    border-radius: 50%;
    height: 1.5rem;
    margin-left: -1rem;
    position: absolute;
    top: -.6rem;
    width: 1.5rem;
  }

  &-tick-label-container {
    font-family: $font-family-sans-serif;
    font-size: .8rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .02rem;
    text-transform: uppercase;
    padding-top: 1rem;
    text-shadow: 0 0 $color-app-dark;
    white-space: nowrap;
  }

  &-tick-label {
    cursor: pointer;
    display: inline-block;
    text-align: center;
  }

  .hide {
    display: none;
  }

  // Tooltip
  .tooltip {
    background-color: $color-attention;
    border-radius: 3px;
    color: $text-color-inverse;
    font-family: $font-family-sans-serif;
    font-size: .7rem;
    font-weight: $weight-sans-serif-bold;
    letter-spacing: .02rem;
    opacity: 0;
    padding: .3rem;
    position: absolute;
    text-transform: uppercase;
    top: -3.2rem;
    z-index: 100;

    &-arrow {
      border-color: transparent;
      border-style: solid;
      border-top-color: $color-attention;
      border-width: .35rem .35rem 0;
      bottom: -.35rem;
      height: .35rem;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: .35rem;
    }

    &.in {
      opacity: 1;
    }
  }
}
