.sub-navigation {
  background-color: $color-app-medium-dark;
  margin-bottom: 3rem;
  position: relative;

  &__list-container {
    background-color: $color-app-medium-dark;
    border-top: 1px solid $border-color;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;

    &--open {
      display: flex;
    }

    > * {
      flex: 0 1 auto;
    }
  }

  &__title {
    @include typo('tag-black');
    cursor: pointer;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding: 1.2rem .5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  &__item {
    @include typo('tag-small');
    color: currentColor;
    display: block;
    padding: .15rem 0;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--active {
      color: $color-attention;
    }
  }
}
