.sub-navigation {
  background-color: $color-app-medium-dark;
  margin-bottom: 2.5rem;
  position: relative;

  &__list-container {
    background-color: $color-app-medium-dark;
    border-top: 1px solid $border-color;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 10;

    &--open {
      display: flex;
    }

    > * {
      flex: 0 1 auto;
    }
  }

  &__title {
    cursor: pointer;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 1.8rem;
    font-weight: $weight-sans-serif-medium;
    margin-bottom: 0;
    margin-top: 0;
    padding: .8rem .5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    &:hover,
    &:focus {
      background-color: darken($color-app-medium-dark, 5%);
    }

    &:active {
      background-color: darken($color-app-medium-dark, 15%);
    }
  }

  &__item {
    color: currentColor;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: $weight-sans-serif-regular;
    letter-spacing: .02rem;
    padding: .15rem 0;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--active {
      color: $color-attention;
    }
  }

  &__toggle-icon {
    margin-left: .5rem;
    margin-top: -.4rem;
  }
}
