.sub-navigation {
  background-color: $color-app-medium-dark;
  margin-bottom: 2.5rem;
  position: relative;

  &__list-container {
    background-color: $color-app-medium-dark;
    border-top: 1px solid $border-color;
    display: none;
    padding: 1rem;
    width: 100%;
    z-index: 10;

    @include small {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &--open {
      display: flex;
      flex-direction: column;

      @include small {
        flex-direction: row;
        flex-wrap: nowrap;
      }
    }

    > * {
      flex: 0 1 auto;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

    & + & {
      margin-top: 1rem;

      @include small {
        margin-left: 2rem;
        margin-top: 0;
      }

      @include medium {
        margin-left: 2.5rem;
      }
    }
  }

  &__title {
    cursor: pointer;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 1rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .02rem;
    margin-bottom: 0;
    margin-top: 0;
    padding: .6rem .5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @include small {
      font-size: 1.4rem;
    }

    @include medium {
      font-size: 1.8rem;
    }

    &:hover,
    &:focus {
      background-color: darken($color-app-medium-dark, 5%);
    }

    &:active {
      background-color: darken($color-app-medium-dark, 15%);
    }
  }

  &__item {
    color: currentColor;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: .85rem;
    font-weight: $weight-sans-serif-medium;
    letter-spacing: .02rem;
    padding: .05rem 0;
    text-decoration: none;
    text-transform: uppercase;

    @include small {
      padding: .15rem 0;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--active {
      color: $color-attention;
    }
  }

  &__toggle-icon {
    color: $color-attention;
    margin-left: .5rem;
    margin-top: -.4rem;

    @include small {
      display: none;
    }
  }
}
