.treaties {
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;

  &__country-item + &__country-item {
    margin-top: .5rem;
  }

  &__country {
    @include typo('tag-small');
    background-color: $color-app-medium-dark;
    color: $text-color;
    cursor: pointer;
    display: block;
    padding: .5rem 0;
    width: 100%;
  }

  &__country-toggle-icon {
    height: 1rem;
    margin-left: .5rem;
    margin-top: -.3rem;
    width: 1rem;
  }

  &__item-treaties {
    display: none;
    list-style: none;
    margin: 2rem;
    padding: 0;

    &--open {
      display: block;
    }
  }

  &__item + &__item {
    margin-top: .75rem;
  }

  &__contract {
    @include typo('headline-x-small-bold-sans-serif');
    color: $text-color;
    display: block;
    padding-left: 3rem;
    position: relative;
    text-decoration: none;

    &:hover &-title,
    &:focus &-title {
      text-decoration: underline;
    }
  }

  &__contract-icon {
    height: 2.2rem;
    left: 0;
    position: absolute;
    top: .4rem;
    width: 2.2rem;
  }

  &__contract-date {
    color: $color-attention;
    display: block;
    font-size: .85rem;
    margin-top: -.2rem;
  }
}
