@font-face {
  font-family: 'TisaPro';
  font-weight: 400;
  src: url('../fonts/TisaPro-Regular.eot?#iefix');
  src:
    url('../fonts/TisaPro-Regular?#iefix') format('eot'),
    url('../fonts/TisaPro-Regular.woff2') format('woff2'),
    url('../fonts/TisaPro-Regular.woff') format('woff'),
    url('../fonts/TisaPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TisaPro';
  font-weight: 700;
  src: url('../fonts/TisaPro-Bold.eot?#iefix');
  src:
    url('../fonts/TisaPro-Bold?#iefix') format('eot'),
    url('../fonts/TisaPro-Bold.woff2') format('woff2'),
    url('../fonts/TisaPro-Bold.woff') format('woff'),
    url('../fonts/TisaPro-Bold.ttf') format('truetype');
}

/* MarkOT */

@font-face {
  font-family: 'MarkOT';
  font-weight: 400;
  src: url('../fonts/MarkOT-Regular.eot?#iefix');
  src:
    url('../fonts/MarkOT-Regular?#iefix') format('eot'),
    url('../fonts/MarkOT-Regular.woff2') format('woff2'),
    url('../fonts/MarkOT-Regular.woff') format('woff'),
    url('../fonts/MarkOT-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkOT';
  font-weight: 500;
  src: url('../fonts/MarkOT-Medium.eot?#iefix');
  src:
    url('../fonts/MarkOT-Medium?#iefix') format('eot'),
    url('../fonts/MarkOT-Medium.woff2') format('woff2'),
    url('../fonts/MarkOT-Medium.woff') format('woff'),
    url('../fonts/MarkOT-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MarkOT';
  font-weight: 700;
  src: url('../fonts/MarkOT-Bold.eot?#iefix');
  src:
    url('../fonts/MarkOT-Bold?#iefix') format('eot'),
    url('../fonts/MarkOT-Bold.woff2') format('woff2'),
    url('../fonts/MarkOT-Bold.woff') format('woff'),
    url('../fonts/MarkOT-Bold.ttf') format('truetype');
}
